#memeform , h1 , #meme-collection  , #editform , .forms{
    width: 50%;
    margin: 0 auto;
}

#memeform , #editform {
    margin-bottom: 50px;
}

h1{
    text-align: center;
}

.memei{
    padding: 0px;
    line-height: 0px;
    /* background: #000; */
}

img{
    border-radius: 10px;
    height: 200px;
    width: 100%;
}